* {
  margin: 0;
  padding: 0;
  font-family: 'san-serif';
  box-sizing: border-box;
}
:root {
  --black: #080808;
  --white: #fff;
  --lightgray: #ababab;
  --darkgray: #262626;
  --red: #ff004f;
}

html {
  scroll-behavior: smooth;
}
body {
  background: var(--black);
  color: var(--white);
}

.container {
  padding: 30px 11%;
  justify-content: center;
}

/*-------------Navigation section starts from here----------*/
.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.list {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

.items {
  color: var(--white);
  text-decoration: none;
  font-size: 25px;
  font-weight: 400;
}

.items:hover {
  width: 100%;
  color: var(--red);
}

/*-------------About me section starts from here----------*/
section {
  margin: 0;
  color: var(--lightgray);
}
.row-1 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 30px;
  padding-top: 50px;
}

.about-col-1 {
  flex-basis: 30%;
}

.image {
  flex-basis: 100%;
  border-radius: 20px;
}

.about-col-2 {
  flex-basis: 70%;
}

.heading-1 {
  font-size: 40px;
  font-weight: 600;
  color: var(--white);
}

.heading-2 {
  padding-top: 5px;
  font-size: 30px;
  font-weight: 400;
  color: var(--white);
}

.heading-3 {
  padding-top: 20px;
  font-size: 25px;
  font-weight: 300;
  color: var(--white);
}

.p-text {
  padding-top: 10px;
  font-weight: 200;
  font-size: 22px;
  color: var(--white);
  text-align: left;
  letter-spacing: 1px;
}

/*-------------Resume section starts from here----------*/

.row-2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 2fr));
  grid-gap: 40px;
  margin-top: 30px;
  padding-top: 50px;
  padding-bottom: 1%;
}

.resume-col-1,
.resume-col-2,
.resume-col-3 {
  background: var(--darkgray);
  padding: 20px;
  font-size: 13px;
  font-weight: 200;
  transition: 0.2s;
}
.resume-col-1:hover,
.resume-col-2:hover,
.resume-col-3:hover {
  background: var(--red);
  transform: scale(1.1);
}

/*-------------Project section starts from here----------*/

.row-3 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 2fr));
  grid-gap: 40px;
  margin-top: 30px;
  padding-top: 50px;
  padding-bottom: 1%;
}
.project-col-1,
.project-col-2,
.project-col-3 {
  background: var(--darkgray);
  padding: 20px;
  font-size: 13px;
  font-weight: 200;
  transition: 0.2s;
}

.project-col-1:hover,
.project-col-2:hover,
.project-col-3:hover {
  background: var(--red);
  transform: scale(1.1);
}

.github-icon {
  margin-right: 40px;
}

.github-icon a {
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: var(--lightgray);
  display: inline-block;
}

.github-icon :hover {
  width: 100%;
  color: var(--darkgray);
}

/*-------------Contact section starts from here----------*/

.row-4 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 30px;
  padding-top: 50px;
  padding-bottom: 13%;
}

.contact-col-1 {
  flex-basis: 60%;
}
.contact-col-2 {
  flex-basis: 30%;
}

.contact-col-2 p {
  margin-top: 30px;
}

.media-icons {
  margin-top: 30px;
}
.media-icons a {
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: var(--lightgray);
  display: inline-block;
}

.media-icons :hover {
  color: var(--red);
}

.about-col-1 .label-text {
  margin-top: 30px;
}
.label-text {
  margin: 15px 0;
  font-size: 20px;
  font-weight: bold;
  color: var(--white);
}

.input-element {
  margin: 15px 0;
  width: 100%;
  padding: 15px;
  background-color: var(--darkgray);
  border: none;
  font-size: 20px;
  border-radius: 5px;
  color: var(--white);
}

#message {
  margin: 15px 0;
  width: 100%;
  padding: 15px;
  background-color: var(--darkgray);
  border: none;
  font-size: 20px;
  border-radius: 5px;
  color: var(--white);
}

.btn {
  display: block;
  margin: 30px;
  width: fit-content;
  padding: 14px 50px;
  border-radius: 6px;
  color: var(--white);
  text-decoration: none;
  background-color: var(--darkgray);
  font-size: 20px;
  font-weight: bold;
}

.btn.btn-primary {
  display: inline-block;
  background: var(--darkgray);
}

.btn.btn-primary:hover {
  display: inline-block;
  background: var(--red);
}

form.btn-primary {
  padding: 14px 16px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
}

.message-container {
  display: none;
}

.error-message {
  font-weight: bold;
  margin-top: 10px;
}

.success-message {
  margin-top: 10px;
  font-weight: bold;
}

/*-------------Footer starts from here----------*/
footer {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #ababab;
}

.footer-left {
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  color: var(--white);
  letter-spacing: 1px;
}

.footer-right {
  text-align: right;
  font-size: 18px;
  color: var(--white);
  letter-spacing: 1px;
}

/*------- Media Queries for  Screens-------------- */
nav .fa-solid {
  display: none;
}
@media (max-width: 768px) {
  .heading-1 {
    font-size: 30px;
  }
  .heading-2 {
    padding-top: 5px;
    font-size: 20px;
  }

  .about-col-1,
  .about-col-2 {
    flex-basis: 100%;
    font-size: 10px;
  }

  .contact-col-1,
  .contact-col-2 {
    flex-basis: 100%;
  }

  .resume-col-1,
  .resume-col-2 {
    flex-basis: 100%;
  }

  nav .fa-solid {
    display: block;
    font-size: 25px;
  }

  nav ul {
    background: var(--darkgray);
    position: fixed;
    top: 0;
    left: -220px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
  }
  .list {
    display: block;
    margin: 25px;
  }

  nav ul .fa-solid {
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
  }

  footer {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: 1px solid #ababab;
  }

  .footer-left {
    text-align: left;
    font-size: 18px;
    font-weight: 600;
    color: var(--white);
    letter-spacing: 1px;
  }

  .footer-right {
    text-align: right;
    font-size: 14px;
    color: var(--white);
    letter-spacing: 1px;
    padding-top: 5px;
  }
}

@media (min-width: 769px) and (max-width: 1048px) {
  .heading-1 {
    font-size: 45px;
  }
  .heading-2 {
    padding-top: 5px;
    font-size: 35px;
  }

  .about-col-1,
  .about-col-2 {
    flex-basis: 100%;
    font-size: 25px;
  }

  .contact-col-1,
  .contact-col-2 {
    flex-basis: 100%;
    font-size: 25px;
  }

  .resume-col-1,
  .resume-col-2 {
    flex-basis: 100%;
    font-size: 25px;
  }
}
