* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', 'san-serif';
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background: #080808;
  color: #fff;
}

.container {
  padding: 30px 11%;
  padding-bottom: 80px 0;
  justify-content: center;
}

/*-------------Navigation section starts from here----------*/
.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.list {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

.items {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

.items:hover {
  width: 100%;
  color: #ff004f;
}

/*-------------About me section starts from here----------*/
section {
  padding-top: 100px 15%;
  padding-bottom: 80px 0;
  margin: 0;
  color: #ababab;
}
.row-1 {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-col-1 {
  flex-basis: 30%;
}

.image {
  flex-basis: 100%;
  border-radius: 20px;
}

.about-col-2 {
  flex-basis: 70%;
}

.heading-1 {
  font-size: 40px;
  font: weight 500px;
  color: #fff;
}

.heading-2 {
  padding-top: 5px;
  font-size: 30px;
  font-weight: medium;
  color: #fff;
}

.heading-3 {
  padding-top: 20px;
  font-size: 25px;
  font-weight: lighter;
  color: #fff;
}

.p-text {
  padding-top: 10px;
  font-weight: lighter;
  font-size: 20px;
  color: #fff;
  text-align: left;
}

/*-------------Resume section starts from here----------*/

#resume-info {
  padding: 30px 0;
}

.row-2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 2fr));
  grid-gap: 40px;
  margin-top: 30px;
}

.resume-col-1,
.resume-col-2,
.resume-col-3 {
  background: #262626;
  padding: 20px;
  font-size: 13px;
  font-weight: light;
}
.resume-col-1:hover,
.resume-col-2:hover,
.resume-col-3:hover {
  background: #ff004f;
}

/*-------------Project section starts from here----------*/

#project-info {
  padding: 30px 0;
}

.row-3 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 2fr));
  grid-gap: 40px;
  margin-top: 30px;
}
.project-col-1,
.project-col-2,
.project-col-3 {
  background: #262626;
  padding: 20px;
  font-size: 13px;
  font-weight: light;
}

.project-col-1:hover,
.project-col-2:hover,
.project-col-3:hover {
  background: #ff004f;
}

.gihub-icon {
  margin-right: 40px;
}

.github-icon a {
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: #ababab;
  display: inline-block;
}

.github-icon :hover {
  width: 100%;
  color: #262626;
}

/*-------------Contact section starts from here----------*/

.row-4 {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact-col-1 {
  flex-basis: 60%;
}
.contact-col-2 {
  flex-basis: 30%;
}

.contact-col-2 p {
  margin-top: 30px;
}

.media-icons {
  margin-top: 30px;
}
.media-icons a {
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: #ababab;
  display: inline-block;
}

.media-icons :hover {
  color: #ff004f;
}
.about-col-1 .label-text {
  margin-top: 30px;
}
.label-text {
  margin: 15px 0;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}

.input-element {
  margin: 15px 0;
  width: 100%;
  padding: 15px;
  background-color: #262626;
  border: none;
  font-size: 20px;
  border-radius: 5px;
  color: #fff;
}

#message {
  margin: 15px 0;
  width: 100%;
  padding: 15px;
  background-color: #262626;
  border: none;
  font-size: 20px;
  border-radius: 5px;
  color: #fff;
}

.btn {
  display: block;
  margin: 30px;
  width: fit-content;
  padding: 14px 50px;
  border-radius: 6px;
  color: #fff;
  text-decoration: none;
  background-color: #262626;
  font-size: 20px;
  font-weight: bold;
}

.btn.btn-primary {
  display: inline-block;
  background: #ff004f;
}

form.btn-primary {
  padding: 14px 16px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
}

.message-container {
  display: none;
}

.error-message {
  font-weight: bold;
  margin-top: 10px;
}

.success-message {
  margin-top: 10px;
  font-weight: bold;
}

/* Media Queries for  Screens */
nav .fa-solid {
  display: none;
}
@media (max-width: 780px) {
  /* Update the styles for the About Me section */
  .heading-1 {
    font-size: 30px;
  }
  .heading-2 {
    padding-top: 5px;
    font-size: 20px;
  }

  .about-col-1,
  .about-col-2 {
    flex-basis: 100%;
  }
  .about-col-1 {
    margin-bottom: 30px;
  }

  .about-col-2 {
    font-size: 14px;
  }

  .contact-col-1,
  .contact-col-2 {
    flex-basis: 100%;
    margin-bottom: 30px;
  }

  .resume-col-1,
  .resume-col-2 {
    flex-basis: 100%;
  }

  nav .fa-solid {
    display: block;
    font-size: 25px;
  }

  nav ul {
    background: #262626;
    position: fixed;
    top: 0;
    left: -220px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
  }
  .list {
    display: block;
    margin: 25px;
  }

  nav ul .fa-solid {
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
  }
}
